<div>
    <!-- Accent-colored raised button with ripple -->
    <button id="cpu-start" style="width: 48%; margin-left: 1%; margin-top: 1%;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Start monitoring
    </button>

    <!-- Accent-colored raised button with ripple -->
    <button id="cpu-stop" style="width: 49%; margin-top: 1%;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Stop monitoring
    </button>

    <div id="cpu-value-container"></div>
</div>